@import "./../../styles/variabiles.scss";

.cart {
  cursor: pointer;
  display: block;
  width: 100%;
  max-width: 100%; // va fi controlat de container
  text-align: center;
  margin-bottom: 2.5rem;

  & > p {
    transition: 0.3s;
    margin-top: 0.625rem;
  }

  &:hover > p {
    color: $Color-Orange;
  }

  &:hover .cart__content::after {
    opacity: 0.8;
  }

  &:hover .cart__content__more {
    opacity: 1;
  }

  &__content {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: 0.3s;

    width: 100%;
    max-width: 350px;
    aspect-ratio: 16 / 9; // păstrează proporția automat
    margin: 0 auto;

    @media (max-width: 768px) {
      max-width: 100%;
      aspect-ratio: 4 / 3;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__more {
      position: absolute;
      opacity: 0;
      z-index: 5;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $Color-Dark-blue;
      opacity: 0;
      transition: 0.3s;
    }
  }
}
